# Object files
*.o
# libs
*.a
*.so
# binaries
a.out
# Qt project files and meta-object compiler files
*.pro.user
moc_*
.qmake.stash
qrc_qml.cpp
qmake_qmake_immediate.qrc
qrc_qmake_qmake_immediate.cpp
