# Object files
*.o
# libs
*.a
*.so
# binaries
a.out
# cached QML/js
*.qmlc
*.jsc
# Qt project files and meta-object compiler files
*.user
moc_*
.qmake.stash
qrc_qml.cpp
qmake_qmake_immediate.qrc
qrc_qmake_qmake_immediate.cpp
# KDevelop
.kdev4
# cmake build directory
build
